In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.read_csv("coursebook.csv",parse_dates = ["StartTime", "EndTime", "StartDate", "EndDate"])

In [0]:
df.head()

,ID,CourseID,Term,TermYear,Status,Section,ClassLevel,ClassNumber,ClassTitle,CourseCredits,...,Consent,InstructionMode,ActivityType,Prerequisites,InstructorEmail,StartDate,EndDate,Available Seats,Waitlist,ClassSubLevel
0,0,cs1134,spring,2019,closed,101,undergraduate,24048,Computer Science Laboratory,1,...,n,regular,laboratory,NaN,kld054000@utdallas.edu,2019-01-14,2019-05-03,0,0,freshman
1,1,cs1134,spring,2019,open,102,undergraduate,24092,Computer Science Laboratory,1,...,n,regular,laboratory,S 1334.002. Credit cannot be received for both...,kld054000@utdallas.edu,2019-01-14,2019-05-03,19,0,freshman
2,2,cs1136,spring,2019,open,101,undergraduate,23179,Computer Science Laboratory,1,...,n,regular,laboratory,CS 1336.001,dgv130030@utdallas.edu,2019-01-14,2019-05-03,16,0,freshman
3,3,cs1136,spring,2019,open,102,undergraduate,23180,Computer Science Laboratory,1,...,n,regular,laboratory,S 1336.002. Check class notes to make sure you...,dgv130030@utdallas.edu,2019-01-14,2019-05-03,25,0,freshman
4,4,cs1136,spring,2019,open,103,undergraduate,28052,Computer Science Laboratory,1,...,n,regular,laboratory,S 1336.003. Check class notes to make sure you...,dgv130030@utdallas.edu,2019-01-14,2019-05-03,4,0,freshman

In [0]:
def isStringAvailable(string):
  return string!=None and len(string)!=0

In [0]:
#CourseOfferedSemesterIntent
term = "Spring"
termYear="2019"
result = None
if(isStringAvailable(term) and isStringAvailable(termYear)):
  result = df[(df['Term'].str.lower() == term.lower()) & (df['TermYear'] == int(termYear))]
result = result["ClassTitle"].tolist()
speech = "There are " + str(len(set(result))) + " courses offered in " + term + " "+ termYear
','.join(set(result))

'Digital Systems Laboratory,Advanced Programming Languages,Computer Graphics,Professional Responsibility in Computer Science and Software Engineering,Automata Theory,C C  Programming in a UNIX Environment,Compiler Design,Discrete Structures,Modeling and Simulation,Web Programming Languages,Advanced Computer Networks,Programming Fundamentals,Software Engineering,Computer Science II for Non-majors,Special Topics in Computer Science - Machine Learning in Cyber Sec,Special Topics in Computer Science - Exp Research in Info Assurance,Discrete Mathematics for Computing II,Database Systems,Data and Applications Security,Computer and Network Security,Software Testing  Validation and Verification,Special Topics in Computer Science - Sfs Seminar,Computer Vision,Special Topics in Computer Science - Gen Purpose Gpu (gpgpu) Comp,Digital Logic and Computer Design,Advanced Algorithm Design and Analysis,Organization of Programming Languages,Introduction to Computer Vision,Network Security,Performance of Computer Systems and Networks,Big Data Management and Analytics,Object-Oriented Analysis and Design,Software Engineering - Honors,Human Computer Interactions II,Organization of Programming Languages - Honors,Human Computer Interactions I,Introduction to Machine Learning,Artificial Intelligence - Honors,Introduction to Programming,Special Topics in Computer Science - Internet of Things,Computer Science I,Theory of Computation,Data Structures and Introduction to Algorithmic Analysis,Undergraduate Research in Computer Science - Independent Research,Machine Learning,Automata Theory - Honors,Computer Science Laboratory,Probability and Statistics in Computer Science and Software Engineering,Special Topics in Computer Science - Developing/securing the Cloou,Digital Forensics,Algorithmic Aspects of Telecommunication Networks,Operating Systems Concepts,Independent Study in Computer Science,Discrete Mathematics for Computing II - Honors,Computer Architecture,Semantic Web,Discrete Mathematics for Computing I,Special Topics in Computer Science - Advcd Topics in Virtualization,Statistical Methods in AI and Machine Learning,Natural Language Processing,Introduction to Programming for Biomedical Engineers,Human Computer Interactions,Special Topics in Computer Science - Convolutional Neural Networks,Object-Oriented Programming Systems,Computer Science Project,Special Topics in Computer Science - Fundamental of Mobile Apps Dev,Computer Graphics for Artists and Designers,Computer Networks,Special Topics in Computer Science - R for Data Scientists,Computer Science II,Advanced Operating Systems,Real-Time Systems,Database Design,Virtual Reality,Networking Laboratory,Algorithm Analysis and Data Structures,Computational Logic,Numerical Analysis,Statistical Methods for Data Science,Digital Systems Laboratory - Honors,Artificial Intelligence,Special Topics in Computer Science - Theory of Social Computing,Introduction to Big Data Management and Analytics for non CS-Majors,Information Retrieval,Information Security,Computer Architecture - CV Honors,Distributed Computing,Advanced Requirements Engineering,Programming Fundamentals for Non-Majors,Special Topics in Computer Science - Cluster Computing,Special Topics in Computer Science - Program Analysis and Applic,Design and Analysis of Computer Algorithms,Computer Science I for Non-majors,Special Topics in Computer Science - Algorithmic Game Theory,Digital Logic and Computer Design - Honors,Special Topics in Computer Science - Machine Lrning Engr/scientists'

In [0]:
#CourseBookDayIntent
result = None
day = "weekday"
weekday = ["monday","tuesday","wednesday","thursday","friday"]
weekend = ["saturday","sunday"]
if(day.lower() == 'weekday'):
  result = df[df['Days'].str.lower().str.contains("monday") | df['Days'].str.lower().str.contains("tuesday") | df['Days'].str.lower().str.contains("wednesday")
            | df['Days'].str.lower().str.contains("thursday") | df['Days'].str.lower().str.contains("friday")]
elif(day.lower() == 'weekend'):
  result = df[df['Days'].str.lower().str.contains("saturday") | df['Days'].str.lower().str.contains("sunday")]
else:
  result = df[df['Days'].str.lower().str.contains(day.lower())]
result

,Term,TermYear,Status,Section,ClassLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,...,EndTime,Location,Consent,InstructionMode,ActivityType,Prerequisites,InstructorEmail,StartDate,EndDate,Available Seats
0,Spring,2019,open,501,graduate,24334,Statistical Methods for Data Science,3,Cuneyt Akcora,monday & wednesday,...,1900-01-01 18:45:00,ecss 2.412,n,Regular,lecture,CS 3341 or SE 3341 or STAT 3341 or equivalent.,cxa123230@utdallas.edu,2019-01-14,2019-05-03,3

In [0]:
#CourseCreditIntent
credits = 3
df[df["CourseCredits"]==str(credits)]

,Term,TermYear,Status,Section,ClassLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,...,EndTime,Location,Consent,InstructionMode,ActivityType,Prerequisites,InstructorEmail,StartDate,EndDate,Available Seats
0,Spring,2019,open,501,graduate,24334,Statistical Methods for Data Science,3,Cuneyt Akcora,monday & wednesday,...,1900-01-01 18:45:00,ecss 2.412,n,Regular,lecture,CS 3341 or SE 3341 or STAT 3341 or equivalent.,cxa123230@utdallas.edu,2019-01-14,2019-05-03,3

In [0]:
#InstructionMethodIntent
result = None
instructionMode = "regular"
if(isStringAvailable(instructionMode)):
  result = df[df["InstructionMode"].str.lower()==instructionMode]
result

,Term,TermYear,Status,Section,ClassLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,...,EndTime,Location,Consent,InstructionMode,ActivityType,Prerequisites,InstructorEmail,StartDate,EndDate,Available Seats
0,Spring,2019,open,501,graduate,24334,Statistical Methods for Data Science,3,Cuneyt Akcora,monday & wednesday,...,1900-01-01 18:45:00,ecss 2.412,n,Regular,lecture,CS 3341 or SE 3341 or STAT 3341 or equivalent.,cxa123230@utdallas.edu,2019-01-14,2019-05-03,3

In [0]:
#CourseNameIntent
courseName = "stat"
termAndYear = ""
result = None
if(termAndYear==None or len(termAndYear)==0):
  result = df[df["ClassTitle"].str.lower().str.contains(courseName.lower())]
else:
  term = termAndYear.split(" ")[0]
  termYear = termAndYear.split(" ")[1]
  result = df[(df["ClassTitle"].str.lower().str.contains(courseName.lower())) &(df['Term'].str.lower() == term.lower()) & (df['TermYear'] == termYear)]
result

,Term,TermYear,Status,Section,ClassLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,...,EndTime,Location,Consent,InstructionMode,ActivityType,Prerequisites,InstructorEmail,StartDate,EndDate,Available Seats
0,Spring,2019,open,501,graduate,24334,Statistical Methods for Data Science,3,Cuneyt Akcora,monday & wednesday,...,1900-01-01 18:45:00,ecss 2.412,n,Regular,lecture,CS 3341 or SE 3341 or STAT 3341 or equivalent.,cxa123230@utdallas.edu,2019-01-14,2019-05-03,3

In [0]:
#ProfessorIntent
instructorName = "Cuneyt"
result = None
if(instructorName!=None or len(instructorName)!=0):
  result = df[df["Instructor"].str.lower().str.contains(instructorName.lower())]
result

,Term,TermYear,Status,Section,ClassLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,...,EndTime,Location,Consent,InstructionMode,ActivityType,Prerequisites,InstructorEmail,StartDate,EndDate,Available Seats
0,Spring,2019,open,501,graduate,24334,Statistical Methods for Data Science,3,Cuneyt Akcora,monday & wednesday,...,1900-01-01 18:45:00,ecss 2.412,n,Regular,lecture,CS 3341 or SE 3341 or STAT 3341 or equivalent.,cxa123230@utdallas.edu,2019-01-14,2019-05-03,3

In [0]:
#CourseStatusIntent
courseName = ""
courseStatus = ""
termAndYear = "Spring 2019"
if(isStringAvailable(termAndYear)):
  term = termAndYear.split(" ")[0]
  termYear = termAndYear.split(" ")[1]

result = None

if(isStringAvailable(courseStatus) and isStringAvailable(termAndYear) and isStringAvailable(courseName)):
  result = df[(df["ClassTitle"].str.lower().str.contains(courseName.lower()))
            &(df["Status"].str.lower().str.contains(courseStatus.lower()))
           &(df['Term'].str.lower() == term.lower()) & (df['TermYear'] == termYear)]
elif(isStringAvailable(courseStatus) and isStringAvailable(termAndYear)):
  result = df[(df["Status"].str.lower().str.contains(courseStatus.lower()))
           &(df['Term'].str.lower() == term.lower()) & (df['TermYear'] == termYear)]
elif(isStringAvailable(courseName) and isStringAvailable(termAndYear)):
  result = df[(df["ClassTitle"].str.lower().str.contains(courseName.lower()))
           &(df['Term'].str.lower() == term.lower()) & (df['TermYear'] == termYear)]
elif(isStringAvailable(courseName) and isStringAvailable(courseStatus)):
  result = df[(df["ClassTitle"].str.lower().str.contains(courseName.lower()))
           &(df['Status'].str.lower() == courseStatus)]
elif(isStringAvailable(courseName)):
  result = df[df["ClassTitle"].str.lower().str.contains(courseName.lower())]
elif(isStringAvailable(courseName)):
  result = df[df["Status"].str.lower().str.contains(courseStatus.lower())]
else:
  result = df[(df['Term'].str.lower() == term.lower()) & (df['TermYear'] == termYear)]
result

,Term,TermYear,Status,Section,ClassLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,...,EndTime,Location,Consent,InstructionMode,ActivityType,Prerequisites,InstructorEmail,StartDate,EndDate,Available Seats
0,Spring,2019,open,501,graduate,24334,Statistical Methods for Data Science,3,Cuneyt Akcora,monday & wednesday,...,1900-01-01 18:45:00,ecss 2.412,n,Regular,lecture,CS 3341 or SE 3341 or STAT 3341 or equivalent.,cxa123230@utdallas.edu,2019-01-14,2019-05-03,3

In [0]:
#CoursePrerequisiteIntent
columnName = "Prerequisites"
courseName = "stat"
result = None
if isStringAvailable(courseName):
  result = df[df["ClassTitle"].str.lower().str.contains(courseName.lower())][columnName]
result

0    CS 3341 or SE 3341 or STAT 3341 or equivalent.
Name: Prerequisites, dtype: object

In [0]:
#ActivityType Intent
activityType = "lecture"
termAndYear = ""
  
result = None
if isStringAvailable(activityType) and isStringAvailable(termAndYear):
  term = termAndYear.split(" ")[0]
  termYear = termAndYear.split(" ")[1]
  result = df[(df["ActivityType"].str.lower().str.contains(activityType.lower())) &(df['Term'].str.lower() == term.lower()) & (df['TermYear'] == termYear)]
elif isStringAvailable(termAndYear):
  term = termAndYear.split(" ")[0]
  termYear = termAndYear.split(" ")[1]
  result = df[(df['Term'].str.lower() == term.lower()) & (df['TermYear'] == termYear)]
else:
  result = df[df["ActivityType"].str.lower().str.contains(activityType.lower())]
result

,Term,TermYear,Status,Section,ClassLevel,ClassNumber,ClassTitle,CourseCredits,Instructor,Days,...,EndTime,Location,Consent,InstructionMode,ActivityType,Prerequisites,InstructorEmail,StartDate,EndDate,Available Seats
0,Spring,2019,open,501,graduate,24334,Statistical Methods for Data Science,3,Cuneyt Akcora,monday & wednesday,...,1900-01-01 18:45:00,ecss 2.412,n,Regular,lecture,CS 3341 or SE 3341 or STAT 3341 or equivalent.,cxa123230@utdallas.edu,2019-01-14,2019-05-03,3

In [0]:
#TODO
#CourseEnrollmentIntent
courseName = "NLP"
result = None
if isStringAvailable(courseName):

In [0]:
#TODO
#StartDateAndEndDateIntent
courseName = "NLP"
result = None
if isStringAvailable(courseName):

In [0]:
#TODO
#WaitingNumberIntent
courseName = "NLP"
result = None
if isStringAvailable(courseName):

In [0]:
#TODO
#CourseLevelIntent
courseName = "NLP"
result = None
if isStringAvailable(courseName):

In [0]:
#TODO
#CourseBookTimingIntent
courseName = "NLP"
result = None
if isStringAvailable(courseName):
  df['classTitle']

In [0]:
courseName = "Machine Learning"
if(isStringAvailable(courseName)):
  print("in")
  result = df[df["ClassTitle"].str.lower().str.contains(courseName.lower())]
  speech = " "
  if(len(result)>1):
    speech = "There are " + str(len(result)) + " "+ courseName + " courses available."
    speech = speech + " Top result is "
  topResult = result.to_dict("records")[0]			
  speech = speech +  topResult["ClassTitle"] + " offered by " + topResult["Instructor"] + " as " + topResult["InstructionMode"] + " " + topResult["ActivityType"] + " class on "+ topResult["Days"] + " from " + topResult["StartTime"].strftime("%I %M %p") + " to " + topResult["EndTime"].strftime("%I %M %p") + " starting from " + topResult["StartDate"].strftime("%b %d, %Y") + " to "+ topResult["EndDate"].strftime("%b %d, %Y")
speech = speech.replace("&","and")
print(speech)

in
There are 10 Machine Learning courses available. Top result is Introduction to Machine Learning offered by Gity Karami as regular lecture class on tuesday and thursday from 02 30 PM to 03 45 PM starting from Jan 14, 2019 to May 03, 2019

In [0]:
if(isStringAvailable(courseName)):
  result = df[df["ClassTitle"].str.lower().str.contains(courseName.lower())]			
  if(len(result)>0):
    result = set(result["Instructor"].tolist())
        
",".join(result)

'Sriraam Natarajan,Gautam Kunapuli,Karen Mazidi,Anjum Chida,Anurag Nagar,Ziaullah Khan,Nicholas Ruozzi,Wei Yang,Gity Karami'

In [0]:
#TODO
#CourseEnrollmentIntent
course = "cs1134.102"

result = None
speech = "course is not available"
if isStringAvailable(courseName):
  courseId = course.split(".")[0]
  courseSection = course.split(".")[1]
  speech = "You cannot enroll as course is closed"
  result = df[df["CourseID"].str.contains(courseId, case=False) & df["Section"].str.contains(courseSection, case=False) & df["Status"].str.contains("open", case=False)]
  
  if len(result) > 0:
    speech = "You cannot enroll as you require department or professor's consent"   
    consent = result["Consent"].str.contains('y', case=False).iloc[0]
    if(consent==False):
      prereq = result["Prerequisites"]
      speech = ""
      if(prereq is None):
        speech = "You have prereqs for this course. Please make sure you complete them before enrolling"
      else:
        speech = "You dont have any prereqs for this course. You are free to enroll."
        availableSeats = result["Available Seats"].iloc[0]
        if availableSeats < 5:
          speech = speech + " Seats are fast filling. There are less than 5 seats available"
        else:
          speech = speech + " You have " + str(availableSeats) + " seats left"
speech

'You dont have any prereqs for this course. You are free to enroll. You have 19 seats left'